<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>BlueWhale 프리다이브</title>
  <link rel="stylesheet" href="./style/gnb_all.css">
  <link rel="stylesheet" href="./style/style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
  <script src="./js/gnb_all.js"></script> 
  <script src="./js/script.js"></script> 
  <script src="./js/script_1.js"></script> 
</head>

  <body id = "join_body">
    <%- include('nav_component') %>
    <div class="div_area">
      <form id="deleteForm" action="/products_del" method="POST">
        <button type="button" id="all_btn">전체 선택</button>
        <ul id="product_list">
          <% products.forEach(function(product) { %>
            <li>
              <p>
                <input type="checkbox" name="product_ids" value="<%= product.product_id %>">
                <% if (product.product_img) { %>
                  <img src="data:image/png;base64,<%= product.product_img %>" alt="<%= product.product_name %>">
                <% } else { %>
                  이미지 없음
                <% } %>
              </p>
              <p><%= product.product_name %></p>
              <p><%= Number(product.price).toLocaleString() %> 원</p>
            </li>
          <% }); %>
        </ul>
        <button type="submit" id="del_btn"> 상품 삭제</button>
      </form>
    </div>
    

    
</body>


<script>
  // 전체 선택 버튼 기능
  document.getElementById("all_btn").addEventListener("click", function() {
    const checkboxes = document.querySelectorAll("input[name='product_ids']");
    const allChecked = Array.from(checkboxes).every(checkbox => checkbox.checked);

    checkboxes.forEach(checkbox => {
      checkbox.checked = !allChecked;
    });

    // 버튼 텍스트 변경
    if (allChecked) {
      this.textContent = "전체 선택";
    } else {
      this.textContent = "전체 해제";
    }
  });
</script>
  

</html>